*.pdx
source/pdex.*
wheelsprung.pdx.zip
*.dSYM
.DS_Store
game.map
# Audacity autosave files
**.aup3-wal
**.aup3-shm
# Blender autosave files
**/*.blend[0-9]*

# levels
# the levels folder contains a .gitkeep which is checked in, but otherwise the contents are generated and should be ignored
source/levels

# editor
editor/extensions/node_modules/*
editor/wheelsprung_template.tiled-session

# Simulator outputs
stderr.txt
stdout.txt

# binary build output
/scripts/level_hash_updater/update_level_hashes

# secrets
release.env

# IDE
.idea/other.xml
.idea/caches/deviceStreaming.xml
.sentry-native/*
