*.pdx
source/pdex.*
wheelsprung.pdx.zip
*.dSYM
.DS_Store
game.map
# Audacity autosave files
**.aup3-wal
# Blender autosave files
**.blend[0-9]

# editor
support/editor/extensions/node_modules/*
support/editor/wheelsprung_template.tiled-session

# Simulator outputs
stderr.txt
stdout.txt
